[Desktop Entry]
Name=K3s Status Tray
Comment=K3s Status im System Tray
Exec=/home/thor/apps/k3s-status-tray/k3s-status-tray.py
Icon=/home/thor/apps/k3s-status-tray/k3s-status-tray.svg
Terminal=false
Type=Application
Categories=Development;IDE;
X-KDE-autostart-after=panel
